* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;400;500;600;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lato", sans-serif;
  color: hsl(210, 53%, 7%);
}

$font1: "Lato", sans-serif;
$font2: "Bebas Neue", sans-serif;
$font3: "Oswald", sans-serif;
$text: #414f6b;
$light: rgb(173, 180, 194);
$textTrpt: rgb(65, 79, 107, 0.6);
$white: hsl(0, 0%, 100%);
$whiteTrpt: rgb(255, 255, 255, 0.6);
$footer: #414f6b;
$footerText: #63769d;

.container {
  width: 100vw;
  height: 100%;
  .mobileBurger {
    display: none;
  }
  .hero {
    position: relative;

    .background {
      position: relative;
      width: 100%;
      max-height: 825px;
      object-position: center top;
      top: 0;
      object-fit: cover;
      display: block;
    }
    .header1 {
      padding: 8px 20%;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      z-index: 100;
      .logo {
        cursor: pointer;
      }
      .links {
        display: flex;
        gap: 45px;
      }
      li {
        font-family: $font1;
        cursor: pointer;
        color: $white;
        display: flex;
        font-size: 12px;
        padding-top: 16px;
        font-weight: 600;
        text-decoration: underline;
      }
      a {
        text-decoration: none;
      }
    }
  }
  .main {
    .header2 {
      width: 100vw;
      padding: 8px 20%;
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $white;
      .logo {
        display: flex;
        gap: 10px;
        cursor: pointer;
      }
      .links {
        display: flex;
        gap: 45px;
      }
      li {
        font-family: $font1;
        cursor: pointer;
        color: $text;
        display: flex;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        text-decoration: underline;
        letter-spacing: 100;
      }

      a {
        text-decoration: none;
      }
    }
    .content {
      position: relative;
      img {
        width: 100%;
        max-height: 900px;
        display: block;
        object-fit: cover;
      }
      .details {
        position: absolute;
        top: 0;
        .text {
          padding: 65px 20% 0 20%;
          .number img {
            height: 135px;
            width: auto;
          }
          p {
            padding-left: 70px;
            font-family: $font1;
            font-size: 16px;
          }
        }
      }
      .carousel {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 200px;
        bottom: 0;
        width: 100%;
        z-index: 20;

        align-items: center;
        background-color: $textTrpt;
        .info {
          z-index: 20;
          display: none;
          gap: 10px;
          padding: 25px 20% 0 20%;
          align-items: center;
          justify-content: center;
          img {
            max-height: 135px;
            max-width: 220px;
            cursor: pointer;
          }
          &:first-child {
            display: flex;
          }
          img:hover {
            opacity: 0.8;
          }
        }

        .ellipse {
          cursor: pointer;
          height: 4px;
          width: 4px;
          background-color: $text;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.5s ease;
        }
        .enable,
        .ellipse:hover {
          background-color: $white;
        }
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.4s;
          animation-name: fade;
          animation-duration: 1.4s;
        }

        @-webkit-keyframes fade {
          from {
            opacity: 0.5;
          }
          to {
            opacity: 2;
          }
        }

        @keyframes fade {
          from {
            opacity: 0.5;
          }
          to {
            opacity: 2;
          }
        }
      }
    }
    .textBlock {
      background-color: $white;
      max-height: 180px;
      padding: 30px 22.8%;
      gap: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .number img {
        height: 135px;
        width: auto;
      }
    }
    .header3 {
      width: 100%;
      height: 40px;
      display: flex;
      background-color: $text;
      .menuItems {
        display: flex;
        padding: 0 20%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
      button {
        background-color: $text;
        outline: none;
        border: none;
        height: 100%;
        padding-left: 25px;
        padding-right: 25px;
        font-family: $font3;
        font-size: 20px;
        color: $light;
        font-weight: 600;
        cursor: pointer;
      }
      .selected {
        background-color: $light;
        color: $text;
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
  .bottomContent {
    margin: 0;
    position: relative;
    max-height: 545px;

    img {
      width: 100%;
      max-height: 545px;
      object-fit: cover;
      display: block;
    }
    .schedule {
      background-color: $whiteTrpt;
      margin-top: 100px;
      margin-left: 21%;
      position: absolute;
      top: 0;
      z-index: 110000;
      width: 350px;
      height: 230px;

      padding: 20px 40px;
      h2 {
        font-family: $font3;
        color: $text;
      }
      .scheduleContent {
        font-family: $font1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
        div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  footer {
    margin: 0;
    margin-top: 0;
    width: 100vw;
    padding: 8px 20%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $footer;
    .logo {
      cursor: pointer;
    }
    h4 {
      font-size: 12px;
      color: $footerText;
      z-index: 1000;
    }
  }
}

@media screen and (max-width: 1050px) {
  .container .main .content .details .text .number img {
    height: 90px;
    width: auto;
  }
  .container .main .content .details .text p {
    font-size: 12px;
  }
  .container .main .content .carousel {
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .container .main .content .carousel .info img {
    width: 180px;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .header1 img {
    height: 30px;
  }
  .header1 .mobileBurger,
  .header2 .mobileBurger {
    display: block; /* Show the menu icon on mobile */
    //align-self: flex-end;
    justify-self: flex-end;
    cursor: pointer;
    color: $text;
  }
  .header1,
  .header2 {
    display: flex;
    justify-content: space-between; /* Adjust this property to your desired alignment */
    align-items: center; /* Add this for vertical alignment if needed */
    gap: 0;
  }

  .container .hero .header1 .links {
    display: none;
    gap: 0;
  }
  .container .main .header2 .links {
    display: none;
    gap: 0;
  }

  /* Accordion menu for .links on mobile */
  .container .hero .header1 .links.active {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    margin-top: 0;
    height: 60px;
    position: absolute;
    right: 20%;
    top: 45px;

    gap: 5px;
    background-color: $footer;

    li {
      display: block;
      line-height: 0;
      letter-spacing: 0;
      cursor: pointer;
    }
  }
  .container .main .header2 .links.active {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    margin-top: 0;
    height: 60px;
    position: relative;
    top: 45px;

    z-index: 5000;
    left: 20%;
    background-color: $footer;

    li {
      color: $white;
      cursor: pointer;
      line-height: 20px;
      padding-top: 0;
      letter-spacing: 100;
      &:first-child {
        padding-top: 5px;
        padding-bottom: 0;
      }
    }
  }

  .container .main .header2 .logo {
    height: 40px;
  }
  .container .main .content .details .text {
    padding: 25px 20% 0 20%;
  }
  .container .main .content .details .text .number img {
    height: 80px;
    width: auto;
  }
  .container .main .content .details .text p {
    font-size: 10px;
  }
  .container .main .textBlock .number img {
    height: 80px;
    width: auto;
  }
  .container .main .textBlock p {
    font-size: 10px;
  }
  .container .main .header3 button {
    font-size: 16px;
  }
  .container .bottomContent .schedule {
    height: 190px;
  }
  .container .bottomContent .schedule h2 {
    font-size: 1.3em;
  }
  p {
    font-size: 10px;
  }
  .container footer {
    img {
      height: 30px;
      h4 {
        font-size: 10px;
      }
    }
  }
  .container .main .content .carousel {
    align-items: center;
    justify-content: center;
    height: 150px;
  }

  .container .main .content .carousel .info img {
    width: 120px;
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  .container footer {
    height: 40px;
    padding: 8px 10%;
    img {
      height: 20px;
    }
  }
  .container footer h4 {
    font-size: 10px;
  }
  .container .bottomContent .schedule {
    height: 190px;
    margin-top: 20px;
    margin-left: 10%;
  }
  .container .main .header3 button {
    font-size: 12px;
  }
  .container .main .textBlock {
    padding: 10px 10%;
    .number img {
      height: 50px;
      width: auto;
    }
    p {
      font-size: 9px;
    }
  }
  .container .main .content .details .text {
    padding: 10px 10% 0 10%;
    .number img {
      height: 50px;
      width: auto;
    }
    p {
      font-size: 9px;
    }
  }
  .container .main .content .carousel {
    height: 100px;
    .info {
      padding: 10px 10% 0 10%;
      img {
        width: 80px;
        height: auto;
      }
    }
  }
  .container .main .header2 {
    padding: 8px 10%;
    .links.active {
      left: 22%;
    }
    .logo {
      height: 30px;
    }
    li {
      font-size: 10px;
    }
  }
  .container .hero .header1 {
    padding: 8px 10%;
    .links.active {
      right: 10%;
      top: 35px;
    }
    img {
      height: 25px;
    }
    li {
      font-size: 10px;
    }
  }
}
